<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<body>
<form th:action="@{/owners/{ownerId}/pets/{petId}/attributes(ownerId=${ownerId}, petId=${petId})}" th:object="${petAttributes}" method="post">


  <input type="hidden" name="_method" value="put"/>

  <label>Temperament:</label>
  <input type="text" th:field="*{temperament}" />

  <label>Length (cm):</label>
  <input type="number" step="0.1" th:field="*{length}" />

  <label>Weight (kg):</label>
  <input type="number" step="0.1" th:field="*{weight}" />

  <button type="submit">Save</button>
</form>
</body>

</html>

